<!DOCTYPE html>
<html>
  <ion-view view-title="Incidencias">
    <ion-content>
    <!--home template-->
      <!--Cartas con los distintos tasks-->
      <div ng-repeat = "project in projects">
        <div class="item item-divider item-stable" ng-click="toggleGroup(project)" ng-class="{active: isGroupShown(project)}">
          {{project}}
        </div>
        <div ng-repeat = "task in tasks">
          <a class="item item-accordion"
                    ng-show="isGroupShown(project)">
            <h2 class="key">{{task.key}}</h2>
            <span class="badge" ng-class="getClass(task.fields.status.name)">{{task.fields.status.name}}</span>
            <p class="resumen-incidencia">{{task.fields.summary}}</p>
            <p class ="descripcion">
              {{task.fields.description}}
            </p>
          </a>
        </div>
      </div>
    </ion-content>
  </ion-view>
</html>