<html>
<!--modal template-->
    <div class="modal">
      <ion-header-bar class= "bar-positive">
        <button class="button button-clear button-positive" ng-click="closeModal()">Cancelar</button>
        <h1 class="title">Crear Incidencia</h1>
        <button class="button button-clear button-positive">OK</button>
      </ion-header-bar>
      <ion-content>
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Proyecto">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Incidencia">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Resumen">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Prioridad">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Informador">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Descripción">
          </label>
        </div>
      </ion-content>
    </div>
</html>