<html>
<!--modal template-->
    <div class="modal" ng-controller="NewICtrl">
      <ion-header-bar class= "bar-positive">
        <button class="button button-clear button-positive" ng-click="closeModal()">Cancelar</button>
        <h1 class="title">Crear Incidencia</h1>
        <button type="submit" class="button button-clear button-positive">OK</button>
      </ion-header-bar>
<!--inicio de la forma para ingresar nuevo issue-->
      <form role="form">
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <input id="Proyecto" type="text" placeholder="proyecto" ng-model="nuevo_issue.proyecto">
            </label>
            <label class="item item-input">
              <input id="Incidencia" type="text" placeholder="incidencia" ng-model="nuevo_issue.incidencia">
            </label>
            <label class="item item-input">
              <input id="resumen" type="text" placeholder="Resumen" ng-model="nuevo_issue.resumen">
            </label>
            <label class="item item-input">
              <input id="prioridad" type="text" placeholder="Prioridad" ng-model="nuevo_issue.prioridad">
            </label>
            <label class="item item-input">
              <input id="informador" type="text" placeholder="Informador" ng-model="nuevo_issue.informador">
            </label>
            <label class="item item-input">
              <input id="descripcion" type="text" placeholder="Descripción" ng-model="nuevo_issue.descripcion">
            </label>
          </div>
        </ion-content>
      </form>
    </div>
</html>