<html>
<div>
  <ion-nav-view name="tabContent"></ion-nav-view>
</div>
  <div class="tabs-striped tabs-color-assertive">
    <div class="tabs">
      <a class="tab-item" ui-sref="sidemenu.tabmenu.backlog" ui-sref-active="active-backlog" href="#/principal/tabmenu/backlog">
        <i>Backlog</i>
      </a>
      <a class= "tab-item" ui-sref="sidemenu.tabmenu.progreso" ui-sref-active="active-progreso" href="#/principal/tabmenu/progreso">
        <i> En Proceso</i>
      </a>
      <a class="tab-item" ui-sref="sidemenu.tabmenu.listo" ui-sref-active="active-listo" href="#/principal/tabmenu/listo">
        <i>Finalizado</i>
      </a>
    </div>
  </div>
</html>